<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Hello</h1>
      </div>
      <div class="panel-body">
        <h3>Welcome to Razer Cars</h3>
        <p>Your one stop shop for all your car stat needs!</p>
          {{#link-to "manufacturers" class="btn btn-warning"}}See all manufacturers{{/link-to}}
      </div>
    </div>
  </div>
</div>
