{{#bs-navbar fluid=true as |navbar|}}
<div class="container">

  <div class="navbar-header">
      {{navbar.toggle}}
      {{#link-to "index" class="navbar-brand"}}Razah Cahs{{/link-to}}
  </div>
  {{#navbar.content class="pull-right"}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}{{#nav.link-to "index"}}Home{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "manufacturers-new"}}Add Manufacturer{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "manufacturers"}}All Manufacturers{{/nav.link-to}}{{/nav.item}}
      {{!-- {{#nav.item}}{{#nav.link-to "demo.navbars"}}Navbars{{/nav.link-to}}{{/nav.item}} --}}
    {{/navbar.nav}}
  {{/navbar.content}}
  </div>
{{/bs-navbar}}
<div class="container">
  {{outlet}}
</div>
