<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Manufacturers</h1>
      </div>
      <div class="panel-body">
        {{log model}}
        <table class="table">
          <thead>
            <tr class="table-header">
              <th>Manufacturer</th>
              <th>Country</th>
              <th colspan="2">Number of Models</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              {{!-- <td>{{#link-to ""}}See moooar{{/link-to}}</td> --}}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
