<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Manufacturers</h1>
      </div>
      <div class="panel-body">
        {{log model}}
        <table class="table">
          <thead>
            <tr class="table-header">
              <th>Manufacturer</th>
              <th>Country</th>
              <th colspan="2">Number of Models</th>
            </tr>
          </thead>
          {{#each model as |manufacturer|}}
          <tr>
            <td>{{manufacturer.name}}</td>
            <td>{{manufacturer.country}}</td>
            <td>{{manufacturer.cars.length}}</td>
            <td>{{#link-to "manufacturers"}}See moooar{{/link-to}}</td>
          </tr>
          {{/each}}
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
